node_modules

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit/
build/
deploy/data/backups/
# Ignorar tudo em uploads/
data/uploads/*
# exceto:
!data/uploads/ferramenta.png
!data/uploads/insumo.png


# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

src/lib/server/db/*.db
src/lib/server/db/migrations
