node_modules

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit/
build/
data/prod/backups/

# Ignorar tudo em uploads/
data/dev/uploads/*
# exceto:
!data/dev/uploads/ferramenta.png
!data/dev/uploads/insumo.png

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.development
!.env.production-copy

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

migrations/
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.crt
*.key
